
@{
    ViewBag.Title = "Panel";
}

<h2>Panel</h2>
<hr />
<a class="btn btn-default" href="/Questions">Quiz</a>
<a class="btn btn-default" href="/Locations">Locations</a>
<a class="btn btn-default" href="/Treasure">Treasures</a>
